*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body {
  background-color: #e8dcca;
}

h2, h3, form {
  padding: 1%;
}

h2, h3 {
 text-align: center;
}

h3 {
  margin-bottom: 20px;
}

/*form*/

/* Style the form - display items horizontally */

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Style the submit button */
input[type="button"] {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}
  /* book-card */
  #card {
    width:100%;
    margin: 5% 15%;
    display: flex;
    flex-wrap: wrap;
  }

  .book-card {
    border: 1px solid black;
    border-radius: 5%;
    margin-left: 5%;
    background-color: #dfcae8;
  }

  .book-card p {  
    margin: 10px;
  }

  .book-card button {
    width: 100%;  
}

/* button */

.check:active,
.check:focus {
  background-color: rgba(144, 154, 155, 0);
  text-decoration:line-through;
}

.delete{
  background-color: red;
  padding: 5px;
}